@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.navcolor{
    background-color:black;    
}
#navlink{
    color:white;
    font-size: 22px;
    font-weight:300;
    font-family: 'Source Code Pro', monospace;
}
#navlink:hover{
    color:#0d47a1;
}